<h1>Tag index</h1>

<table>
  <tr>
    <th>タグ名</th>
    <th>カテゴリ</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @tags.each do |tag| %>
    <tr>
      <td><%= tag.name %></td>
      <td><%= tag.tag_category.try(:name) %></td>
      <td><%= link_to 'Show', tag %></td>
      <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
      <td><%= link_to 'Destroy', tag, data: { :confirm => 'Are you sure?' }, :method => :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New', new_tag_path %>
