<h1>Tag show</h1>

<table>
  <tr>
    <th>タグ名</th>
    <th>カテゴリ</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= @tag.name %></td>
    <td><%= @tag.tag_category.try(:name) %></td>
    <td><%= link_to 'Back', tags_path %></td>
    <td><%= link_to 'Edit', edit_tag_path %></td>
    <td><%= link_to 'Destroy', tag_path, data: { :confirm => 'Are you sure?' }, :method => :delete %></td>
  </tr>
</table>
